head
  style.

    * {
        font-family: serif;
    }
    h2 {
        color: #524d4b;
    }
    p {
        color: #000;
    }
    a {
        margin-top: 15px;
        background-color: #966A57;
        border: none;
        color: white !important;
        padding: 16px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: serif;
        cursor: pointer;
    }

h2 Welcome to Chito Stationery
p Dear #{name},
p
  | Thanks for signing up for Chito Stationery. To complete the
  | sign-up process, please click the button below.
a(href=`${url}`) Confirm Email Address

