head
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap' rel='stylesheet')
  style.
    * {
        font-family: "Bellota Text", cursive;
    }
    h2 {
        color: #524d4b;
    }
    p {
        color: #000;
    }
    a {
        margin-top: 15px;
        background-color: #966A57;
        border: none;
        color: white !important;
        padding: 16px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: "Bellota Text", cursive;
        cursor: pointer;
    }

h2 Welcome to Chito Stationery
p Dear #{name},
p
  | Thanks for signing up for Chito Stationery. To complete the
  | sign-up process, please click the button below.
a(href="https://chito-shop.herokuapp.com") Confirm Email Address

